<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # 1. Handle WebSockets Reverse Proxy (Laravel Reverb - Port 8080)
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteCond %{HTTP:Connection} upgrade [NC]
    RewriteRule ^app/(.*) ws://127.0.0.1:8080/app/$1 [P,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # 2. Handle Web Traffic Reverse Proxy (Laravel Octane - Port 8001)
    # Jika request bukan file nyata dan bukan folder, lempar ke Octane, BUKAN ke index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ http://127.0.0.1:8001/$1 [P,L]

    # Handle untuk halaman utama (root domain) agar masuk ke Octane
    RewriteRule ^$ http://127.0.0.1:8001/ [P,L]
</IfModule>